<header class="header" [class.scrolled]="isScrolled">
  <!-- Psicodelica la noche
   mejor quita tus tacones  -->
  <div class="header-container">
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="Logo" class="logo-img" />
    </a>
    <nav class="nav-actions">
      <button (click)="openLoginModal()" class="btn-login">INICIAR SESIÓN</button>
      <button (click)="openRegisterModal()" class="btn-register">REGISTRARSE</button>
    </nav>
  </div>
</header>

<div class="modal-overlay" *ngIf="showLoginModal" (click)="closeLoginModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="closeLoginModal()">&times;</button>
    <app-login (closeModal)="closeLoginModal()"></app-login>
  </div>
</div>

<div class="modal-overlay" *ngIf="showRegisterModal" (click)="closeRegisterModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="closeRegisterModal()">&times;</button>
    <app-registro (closeModal)="closeRegisterModal()"></app-registro>
  </div>
</div>
