<section class="hero-section">
  <div class="video-container">
    <video
      autoplay
      muted
      loop
      playsinline
      class="bg-video"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="assets/videos/VideoPrincipal.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>
  </div>

  <div class="hero-content">
    <h1 class="hero-title">
      Project Manager <br />
      <span class="underline-tech">Profesional y Trazable</span>
    </h1>

    <p class="hero-subtitle">Gestión integral de Requisitos, Stakeholders y Ciclo de Vida.</p>
  </div>

  <section>
    <p>Aqui va el cuerpo de la landing page</p>
    <section>
  <h2>Proyectos</h2>

  <div *ngIf="proyectos.length === 0">
    No hay proyectos todavía.
  </div>

  <ul *ngIf="proyectos.length > 0">
    <li *ngFor="let p of proyectos">
      <strong>{{ p.nombre }}</strong> - {{ p.descripcion }}
    </li>
  </ul>
</section>
  </section>
</section>
